Source: wazo-python-swaggerpy-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.4
X-Python3-Version: >= 3.7

Package: python3-swaggerpy
Architecture: all
Depends:
 ${shlibs:Depends},
 ${python3:Depends},
 ${misc:Depends},
 python3-six
Description: Python library for swagger - Python 3
 .
 Swagger.py is a Python library for using Swagger defined API's.
